<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>
            volleyball
        </title>
    </head>
    <body>
        <h1> LA PALLAVOLO </h1>
        <h2>
            <ol><li>Kevin Wong</li>
            <li>Brad Torsone</li>
            <li>Eduardo Bacil</li>
            <li>Brent Doble</li>
            <li>Albert Hannemann</li>
            <li>Jason Ring</li>
            <li>Aaron Boss</li>
            <li>Canyon Ceman</li>
            <li>Dax Holdren</li>
            <li>Mark Williams</li>
        </ol>
        </h2>
       {% for item in units %}
       <p> Nome giocatore:{{item[6]}}</p>
       <div class="immagine">
       <img src="../static/images/{{item[6]}}.jpg" alt="{{item[6]}}" width="444">
       </div>
    {% endfor %}
    </ul>
    </body>
</html>