h1 {
    background-color:rgba(0, 128, 0, 0.774);
    text-align: center;
    text-shadow: 2px ;
  }


  h2 {
    border:2px solid rgba(0, 128, 0, 0.774);
    text-align: center;
    list-style-position: inside;
  }


    
.immagine  {
    text-align: center;
    border-style: double;
    border-color:rgba(0, 128, 0, 0.774);
    }
p {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
    background-color:rgba(0, 128, 0, 0.774);
    border-radius: 18px;
    padding: 5px;
  }


  border-bottom: 6px solid red;